            h2{
                color:#ff6a00;
                text-align:center;
            }
            .tb{
                margin-left:20px;
                margin-bottom:20px;
            }
            .cb{
                margin-right:500px;
                width:40px;
                height:20px;
            }
            .part{
                margin:20px 20px 20px 20px;
            }
            h1{
                color:#0094ff;
                text-align:center;
            }
