
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Veggi One Page Restorent Template</title>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/animat/animate.min.css" />
    <link rel="stylesheet" href="~/Content/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="~/Content/nivo-lightbox/nivo-lightbox.css" />
    <link rel="stylesheet" href="~/Content/themes/default/default.css" />
    <link rel="stylesheet" href="~/Content/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/owl-carousel/owl.theme.css" />
    <link rel="stylesheet" href="~/Content/owl-carousel/owl.transitions.css">

    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/responsive.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

</head>
<body>

    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <header id="home" class="header">
        <div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="#home">HOME</a></li>
                                        <li><a href="#features">RESERVATION</a></li>
                                        <li><a href="#menu">MENU</a></li>
                                        <li><a href="#abouts">ABOUT US</a></li>
                                        <li><a href="#footer">CONTACT</a></li>
                                        <li>
                                            <a href="#" class="glyphicon glyphicon-shopping-cart btn-info">
                                                Cart
                                            </a>
                                        </li>
                                        <li><a href="#footer">John</a></li>
                                        <li><a href="#footer">Log out</a></li>
                                    </ul>

                                </div><!-- /.navbar-collapse -->

                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!--End of row -->

            </div><!--End of container -->

        </div>
    </header> <!--End of header -->



    <section id="banner" class="banner">
        <div class="container">
            <div class="row">
                <div class="main_banner_area text-center">
                    <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
                        <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
                            <p>Veggies es bonus vobis, proinde vos postulo essum.</p>

                            <div class="separetor"></div>
                        </div>
                    </div>


                    <div class="scrolldown">
                        <a href="#special" class="scroll_btn"></a>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End of Banner Section -->



    <section id="features" class="features sections">
        <div class="container">
            <div class="row">
                <div class="features_content text-center">
                    <div class="col-md-4">
                        <a href="reservation.cshtml" style="text-decoration: none;" class="sinle_features wow slideInUp" data-wow-duration="1s">
                            <img src="~/images/icon1.png" alt="" />
                            <h5>CONFERENCE</h5>
                            <p>Conference organization</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
                            <img src="~/images/icon1.png" alt="" />
                            <h5>WEDDING</h5>
                            <p>Wedding organization </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sinle_features wow slideInUp" data-wow-duration="2s">
                            <img src="~/images/icon1.png" alt="" />
                            <h5>PANQUETING AND EVENTS</h5>
                            <p>Birthday or event organization</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Abouts Section -->

    <section id="special" class="special sections">
        <div class="container">
            <div class="row">
                <div class="head_title text-center wow slideInLeft" data-wow-duration="1.5s">
                    <h2>This month specials</h2>
                    <div class="separetor"></div>
                </div>
                <div class="main_special text-center wow slideInUp" data-wow-duration="3s">

                    <div class="col-md-2 col-sm-3 col-xs-6 single_special" data-toggle="modal" data-target="#myModal">
                        <div class="single_special_img">
                            <img src="~/images/s1.png" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special" data-toggle="modal" data-target="#myModal">
                        <div class="single_special_img">
                            <img src="~/images/p2.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special" data-toggle="modal" data-target="#myModal">
                        <div class="single_special_img">
                            <img src="~/images/p3.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p4.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p5.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p6.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p6.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p5.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                                <p>Add</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p4.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p3.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/p2.jpg" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 single_special">
                        <div class="single_special_img">
                            <img src="~/images/s1.png" alt="" class="img-thumbnail" />
                            <div class="single_special_overlay text-center">
                                <h3>Greens fava</h3>
                                <div class="overlay_separetor"></div>
                                <p>Lorem ipsum dolor sit Pellentesque vel enim a</p>
                                <p>17$</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                @*<!-- Begin cart -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Meal list</p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Picture</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Note</th>
                                            <th>Service</th>
                                            <th>Fee</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img src="~/images/s1.png" alt="" /></td>
                                            <td>Doe</td>
                                            <td>17$</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button type="button" class="delete" value="1"><i class="material-icons">delete</i></button>
                                                <button type="button" class="edit" value="1"><i class="material-icons">edit</i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><img src="~/images/p2.jpg" alt="" /></td>
                                            <td>Doe</td>
                                            <td>17$</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button type="button" class="delete" value="2"><i class="material-icons">delete</i></button></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><img src="~/images/p3.jpg" alt="" /></td>
                                            <td>Doe</td>
                                            <td>17$</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button type="button" class="delete" value="3"><i class="material-icons">delete</i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#Payment">Payment</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>




                    </div>
                </div>
                <!-- end cart -->
                <!-- Begin payment card -->
                <div class="col-xs-12 col-md-4 modal fade" id="Payment" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Payment form</h4>
                            </div>
                            <!-- CREDIT CARD FORM STARTS HERE -->
                            <div class="panel panel-default credit-card-box modal-body">

                                <div class="panel-body">
                                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardNumber">CARD NUMBER</label>
                                                    <div class="input-group">
                                                        <input type="tel"
                                                               class="form-control"
                                                               name="cardNumber"
                                                               placeholder="Valid Card Number"
                                                               autocomplete="cc-number"
                                                               required autofocus />
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7 col-md-7">
                                                <div class="form-group">
                                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                    <input type="tel"
                                                           class="form-control"
                                                           name="cardExpiry"
                                                           placeholder="MM / YY"
                                                           autocomplete="cc-exp"
                                                           required />
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-md-5 pull-right">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV CODE</label>
                                                    <input type="tel"
                                                           class="form-control"
                                                           name="cardCVC"
                                                           placeholder="CVC"
                                                           autocomplete="cc-csc"
                                                           required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="couponCode">COUPON CODE</label>
                                                    <input type="text" class="form-control" name="couponCode" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                            <div class="col-xs-12">
                                                <p class="payment-errors"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- CREDIT CARD FORM ENDS HERE -->
                        </div>
                    </div>
                </div>
                <!--end payment card-->*@


    </section>


    @*<section id="abouts" class="abouts sections">
        <div class="container">
            <div class="row">
                <div class="main_abouts">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_abouts wow slideInLeft" data-wow-duration="2s">
                            <div class="head_title text-center">
                                <h2>About us</h2>
                                <div class="separetor"></div>
                            </div>

                            <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
                            <div class="signature_img text-right">
                                <img src="~/images/signature.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_abouts wow slideInRight" data-wow-duration="2s">
                            <img src="~/images/abimg.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@<!-- End of Abouts Section -->

    <section id="menus" class="menus sections">
        <div class="container">
            <div class="row">
                <div class="main_menus">
                    <div class="head_title text-center wow slideInDown" data-wow-duration="2s">
                        <h2>Menu</h2>
                        <div class="separetor"></div>
                    </div>

                    <div class="menus_top_menu text-center wow slideInDown" data-wow-duration="1.5s">
                        <ul>
                            <li class="active"><a href="">Special</a></li>
                            <li><a href="">Main Dishes</a></li>
                            <li><a href="">Desserts</a></li>
                            <li><a href="">Drinks</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_menus wow slideInLeft" data-wow-duration="1.5s">
                            <ul>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_menus wow slideInRight" data-wow-duration="1.5s">
                            <ul>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>
                                <li> SMOKED RICOTTA TERRINE   ........................................................... 12$ <span> ricotta, shallots, cheddar, capers</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer Section -->

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-5 col-sm-offset-7 col-xs-10 col-xs-offset-2">
                    <div class="contact_area wow slideInLeft" data-wow-duration="2s">
                        <div class="head_title text-center">
                            <h2>Contact</h2>
                            <div class="separetor"></div>
                        </div>

                        <div class="main_contact_content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="single_contact text-left">
                                        <h5>Veggie </h5>
                                        <span>3428 Magnolia Avenue</span>
                                        <span>Hackettstown, NJ 07840</span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="single_contact text-left">
                                        <h5>Reservations</h5>
                                        <span>reservations@vegggie.com</span>
                                        <span>+48 202-555-0114</span>
                                    </div>
                                </div>
                            </div>

                            <div class="contact_form_area">
                                <h3>Contact form</h3>
                                <form action="#" id="formid">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="first name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
                                            </div>


                                        </div>
                                        <div class="form_btn_area text-center">
                                            <a href="" class="btn">Send</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="copyright_text_area">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
                            <p>Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_footer text-right">

                            <div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- STRAT SCROLL TO TOP -->

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

</body>
</html>
